.logonav {
  width: 70px;
}

.fotercontent {
  color: black;
}

.form1 {
  width: 50%;
  height: 50%;
}

.margin-right {
  margin-right: 2px;
}

.fullscreen {
  margin: 10px;
  width: 100vh;
}

.contenedor-principal {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.cartas {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  margin: 2.5px 10px 2.5px 10px;
}

.cartas:hover {
  transform: scale(1.1);
}

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.hijo {
  transform: translate(40%, 30%);
  width: 100%;
  height: 100%;
}

.hijo2 {
  position: absolute;
  top: 17%;
  left: 40%;
}

.hijo:hover {
  filter: brightness(0.8);
}

.hijo2:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
